* {
	margin: 0;
	padding: 0;
}

a{
    text-decoration: none;
    color:#82959F;

}

a:hover{
    color:#050505;
    text-decoration: underline;
}

body {			
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: #82959F; 
    font-size: 14px; 
    background-color: #E7E7E3;
}

header {		
    margin-top: 0;	
    height:150px;
    width:100%;
    background-color: #f4EADA;
}
.center {
    text-align: center;
    margin-top: 12px;
}
.centersub {
    text-align: center;
    margin-top: 0px;
}
h1 {
    font-family: serif;
    font-weight: lighter;
    font-size: 3em;
    color: #000000;
}
h2 {font-family: Georgia;
    font-weight: lighter;
    font-variant: small-caps;
    font-style: italic;
    font-size: 1.5em;
    color: #385260;
}
h3 {font-family: Georgia;
    font-weight: lighter;
    font-variant: small-caps;
    font-style: italic;
    font-size: 1em;
    color: #385260;
    margin-top: 20px;

}
h4 {font-family: sans-serif;
    font-weight: lighter;  
    font-style: italic;
    font-size: .98em;
    color: #82959F;
    margin-top: 20px;
}
h5 {font-family: Georgia;
    font-weight: lighter;
    font-variant: small-caps;
    font-style: italic;
    font-size: 1em;
    color: #385260;
    margin-top: 20px;
}
.navlinks {
    font-family: Georgia;
    font-weight:bolder;
    font-variant: small-caps;
    font-size: 15pt;
    color: #82959F;
    margin-left: 5px;
}

.logosub {
    position: relative;
    top: -35px;
    left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    color: #6B2718;

}


.topright {
    position:absolute;
    top:35px;
    right:60px;
}
.topleft {
    position:absolute;
    top:0;
    left:25px;
}

p {
	font-size: 1.3em;
	margin-bottom: 15px;
    color: #385260;
}

.leftside {
    float: left;
    margin: 0 1.5%;
    width: 63%;
  }

.rightside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
  }
#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {

	width: 600px;
	margin-top: 50px;
}

#direct-contact-info {
    margin-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.4em;
}


#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}