/* Reset Style Sheet */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
    color:#82959F;

}

a:hover{
    color:#050505;
    text-decoration: underline;
}




body {			
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: #82959F; 
    font-size: 14px; 
    background-color: #E7E7E3;
}

header {		
    margin-top: 0;	
    height:150px;
    width:100%;
    background-color: #f4EADA;
}
h2 {
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 20pt;
    font-variant: small-caps;
    color: #3b3939;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 14pt;
    font-variant: small-caps;
    color: #82959F;
}
.navlinks {
    font-family: Georgia;
    font-weight:bolder;
    font-variant: small-caps;
    font-size: 15pt;
    color: #82959F;
    margin-left: 5px;
}

.logosub {
    position: relative;
    top: -35px;
    left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    color: #6B2718;

}


.topright {
    position:absolute;
    top:35px;
    right:60px;
}
.topleft {
    position:absolute;
    top:0;
    left:25px;
}

.center {
    text-align: center;
    margin-top: 20px;
}

.left {
    float: left;
    width: 25%;
    margin-left: 6.25%;
}

.container {
    position: relative;
    width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
  }
  .container:hover .overlay {
    opacity: 0.7;
    
  }
  .text {
    color: #6B2718;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight:bold;
    text-align: center;
    margin-top: 75px;

  }